.Randomimgpage{
     display: flex;
     flex-direction:column;
     margin:2% auto;
     padding:15px;
     width:90%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}
.RandomPageHeading{
    color:rgb(40, 136, 226);
}
.RandomImg{
    width:200px;
    height:200px;
    margin:1% ;
    border-radius: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}
.RandomimgContainer{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:5% auto;
    align-items:center;
    justify-content: space-between;
}