.tools {
    display: flex;
    justify-content: space-between;
    width: 400px;
  }

.App {
    text-align: center;
  }
  

.tools {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.maskPageContainer{
background-color:aliceblue;
background-image: url('../Login/images/backgroundImg.jpg');
 padding: 5px;
}
.main-box{ 
  padding: 5px ;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}



