.headingSI{
    font-size: 120%;

}

.savedImages{
  
    display:flex;
    flex-direction:column;
    align-items: center;
    min-height:200px;
    justify-content: space-around;
    font-size:150%;
}

#selectedList{
    cursor: pointer;
    background-color:rgb(175, 169, 169);
}