#heading {
  font-size: 400%;
  font-weight: 700;
  margin-bottom:2%;
  padding:0% 10%
}

.homePageBody {
	background: linear-gradient(-45deg, #8abcd8, #acd1e7, #b1e1f3, #d7eff3);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	/* height: 100vh; */
}
/* #ee7752, #e73c7e, #23a6d5, #23d5ab */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.footerText1{
  font-size: 60px;
  font-weight: 800;
  padding-bottom: 1%;
  background: linear-gradient(-17deg, #48ff00 10%,rgb(18, 22, 240) 25%,rgb(0, 195, 255) 50%,rgb(255, 0, 149) 75%, #06f125 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  
}
.footerText2{
  font-size: 30px;
  font-weight: 400;
  padding:1%
}
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 100%;
  padding:1.5% 4%;
  /* margin: auto;
  margin-top:10px; */
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  height:40px;
  font-size:15px !important;
}

/* .carousel,.carousel-inner,.d-block{
    height:400px;
    width:40%;
} */

.crouselarea{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:0 1.5%;
}

.carousel {
  margin: 4% auto; 
  width: 35% !important;
  background-color: rgb(196, 229, 245) !important;

}
.d-block {
  border-radius: 6px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* height: 50%; */
}
.carousel-inner {
  /* width:40% !important; */
}

.carousel-control-next-icon,.carousel-control-prev-icon {
  /* width: 100% !important; */
  visibility:hidden !important;
}
.crouselTextArea{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


}

.crouselText1{
  font-size: 60px;
  font-weight: 800;

}
.crouselText2{
  /* padding:1%; */
  
  font-size: 30px;
  font-weight: 500;

}
.carousel-control-prev:hover{
background-color: rgb(231, 234, 236)!important;
opacity:0.1
}
.carousel-control-next:hover{
  background-color: rgb(231, 234, 236)!important;
  opacity:0.1
  }
.sr-only {
  visibility: hidden;
}


.homePage-subsection{
  display: flex;
  flex-direction:row;
  /* margin: 4% auto; */
  align-items: center;
  justify-content: space-evenly;
  padding:0% 4%;
  font-size: 150%;
}

.homePage-footer{
  padding: 4%;

  font-size:150%;
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color:rgb(114, 150, 230);
}

.footer-btn{
  width:15%;
}

.footerText3{
  font-size: 190%;;
}