.brief-items{
    margin-right: 1.25rem ;
    margin-left:  1.25rem ;
}

.ptag{
    font-size: medium;
    margin-left: 10%;
    margin-right: 10%;
}

.h1tag{
    margin-top: 5%;
    margin-bottom: 1%;
}