.listName{
    padding:1%;
    margin:1% auto;
    width:90%;
    font-size: 150%;
    color:white;
    background-color:rgb(126, 90, 245);
    font-family: cursive;
}
.ListContainer{
    display: flex;
    flex-direction:row;
    min-height: 300px;
    justify-content: space-around;
}