.signupPage{
    display: flex;
    flex-direction:row;   
    margin: auto;
    padding:3%;
    min-height:550px;
    /* background-image: url('./images/backgroundImg.jpg'); */
   }

.signupHeading{
    display:flex;
    align-items:flex-start;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
}
.signupImg{
     width: 50%;
     margin-top:30%;
     margin-left: 10%;
}

.ImgContainer{
    display:flex;
    align-items:flex-start;   
    min-height:820px;
    width:180%;
    border-radius: 10%;
    background-color:rgb(3, 204, 223);
}
.formContainer{
    display:flex;
    flex-direction:column;
    position:relative;
    right:20%; 
    top:65px;
    padding:4%;   
    width:120%;  
    height:700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
  .formContainer{
      width:200%
  }
   .ImgContainer{
      min-height:500px;
   }
   .signupImg{
    width: 90%;
    margin-top:60%;
    height:40%
    
   }
  .formContainer{
      position:static;
      min-height:500px;
  }
 }



.form-elements{
    display:flex;
    flex-direction:column;
    height:100%;   
}

.inputfield{
    display:flex;
    flex-direction:column;
    min-height:90px; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    align-items:flex-start;
    
}

.forminput{
    border-radius: 6px;
    border-width: 1px;
    border-style: dotted;
    width: 80%;
    min-height:40px;
    font-size:17px;
    color:black;
    padding-left:5%;
    
}

.signupbtn{
    width:80%;
}

.signupErrors{
    color:red;
}

