.signupHeading{
    font-size: 120%;
    
}


.formContainer{
    display:flex;
    flex-direction:column;
    margin:4% auto;  
    min-height: 300px;
    width:30%;
    padding:3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
   
}
.form-elements{
    display:flex;
    flex-direction:column;
    height:100%;
    
}

.inputfield{
    display:flex;
    flex-direction:column;
    min-height:70px; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    align-items:flex-start;
    
}

.forminput{
    border-radius: 4px;
    border-width: 1px;
    border-style: dotted;
    width: 80%;
    min-height:30px;
    font-size:13px;
    padding-left:5%;
    
}

.signupbtn{
    width:80%;
}